<a href="https://colab.research.google.com/github/jeyakartheesan/PYTHON/blob/master/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# variable in pyhton

In [0]:
a=10 #interger
b=10.5 #float
c=1+5j #complex
str1='string' #string immutable datatype
bo=True #boolean False
n=None #null data type



###Print the Value of All Values####


print('A value is :',a)
print('B value is :',b)
print('C value is :',c)
print('String is :',str1)
print('Boolean Value is :',bo)
print('Null datatype :',n)



###DATATYPES of each variables####


print("\n\nData type of each value")
print(type(a))
print(type(b))
print(type(c))
print(type(str1))
print(type(bo))
print(type(n))

A value is : 10
B value is : 10.5
C value is : (1+5j)
String is : string
Boolean Value is : True
Null datatype : None


Data type of each value
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

# Some different variable

In [0]:
###varibale declaration####
int1=100_00_00
a,b,c=1,2,3
d,e=[1,2]
f,g=(1,2)


#######PRINT statement######

print('integer values is :',int1)
print('a value is :',a,'b value is :',b,'c value is :',c)
print('d value is :',d,'e value is :',e)
print('f value is :',f,'g value is :',g)

integer values is : 1000000
a value is : 1 b value is : 2 c value is : 3
d value is : 1 e value is : 2
f value is : 1 g value is : 2

# print statements

In [0]:
a=10
b=20
c=30
s='jk'
print('hello\
world\
jk')
print('my name is "jk"')
print("my name is 'jk'")
print('''my name's "jk" ''')
a1="""
print ("jk")
"""
print(a1)
per={'name':'jk','age':20} ##Dict

print('a is %d'% a)
print('a is %d and b is %d'%(a,b))
print('a is {} and b is {}'.format(a,b))
print('a is {2} and b is {1} and c is {0}'.format(a,b,c))

print('1my name is {nam} and your age is {ag}'.format(nam=per['name'],ag=per['age']))
print('my name is {name} and your age is {age}'.format(**per))

print('my name is {n} and your age is {a}'.format(n=s,a=b))
b="jk"
print(F'b value is {b}')
print(f'a value is {a}')

print('jk'*100)

helloworldjk
my name is "jk"
my name is 'jk'
my name's "jk"

print ("jk")

a is 10
a is 10 and b is 20
a is 10 and b is 20
a is 30 and b is 20 and c is 10
1my name is jk and your age is 20
my name is jk and your age is 20
my name is jk and your age is 20
b value is jk
a value is 10
jkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjkjk

# operators

# Arithmatic Operator

In [0]:
###variable decralation
a=10
b=20

###Addtion
c=a+b
print(c)
###subraction
c=b-a
print(c)
###multiplication
c=b*a
print(c)
###Division
c=b/a
print(c)
###Modulus
c=a%b
print(c)
###Exponentiation
print(a**2)
###Floor division
c=b//a
print(c)

30
10
200
2.0
10
100
2

# Assignment Operators

In [0]:
x = 5
print('Equal operator :',x)
x+=1 #x=x+1
print('Addtion :',x)
x-=1
print('subraction :',x)
x*=1
print('Multiple :',x)
x/=1
print('Division :',x)
x %= 3
print('modules :',x)
x=6
x //= 3
print('floor division :',x)

x **= 3
print('Exponentation :',x)
x=5
x &= 3
print('And :',x)
x |= 3
print('Or :',x)
x=5
x ^= 3
print('xor :',x)
x=9
x>>=3
print('left shift :',x)
x<<=3
print('right shift :',x)

Equal operator : 5
Addtion : 6
subraction : 5
Multiple : 5
Division : 5.0
modules : 2.0
floor division : 2
Exponentation : 8
And : 1
Or : 3
xor : 6
left shift : 1
right shift : 8

# Comparison Operators

In [0]:
a=10
b=20
print('''
equal opeartor :{}
not equal opeartor :{}
Greater than :{}
Less than :{}
Greater than or equal to :{}
Less than or equal to :{}
'''.format(a==b,a!=b,a>b,a<b,a>=b,a<=b))

equal opeartor :False
not equal opeartor :True
Greater than :False
Less than :True
Greater than or equal to :False
Less than or equal to :True

# Logical Operators

In [0]:
a=True
b=False


print('''
and opearation:{}
or opearation :{}
not operation :{}
{}
'''.format(a and b ,a or b, a and not b,not b))

and opearation:False
or opearation :True
not operation :True
True

# Identity Operators

In [0]:
a=257
b=257

print('''
is operation :{}
is not operation :{}
'''.format(a is b,a is not b))
c=b
print('''
is operation :{}
is not operation :{}
'''.format(c is b,a is not b))

is operation :False
is not operation :True


is operation :True
is not operation :True

# Membership Operators

In [0]:
str1="my name is jk"
list1=["jk","hello","welcome"]
print('''
in operation :{}
not in operation :{}
'''.format('jk' in str1,'jk' not in str1))
print('''
in operation :{}
not in operation :{}
'''.format('jk' in list1, 'kj' not in list1))

in operation :True
not in operation :False


in operation :True
not in operation :True

# Bitwise Operators

In [0]:
print('''
and :{}
or :{}
xor :{}
        #0010
        #0011
        #0011
not :{}
left shift :{}
right shift :{}
'''.format(4&5,2 |3,2^ 3,~8,1<<3,9>>3))

# CONDITIONAL STATEMENTS

In [0]:
a=10
b=20
if a==b:
    print('equals')
else:
    print('not equals')
    
####if elif and else
a=25
if a>20:
    print("above 20")
elif a>50:
    print('above 50')
else:
    print('not')
    

###nested if
a=50
if a==50:
    b=25
    if b==25:
        print(f'a is {a} and b is {b}')

not equals
above 20
a is 50 and b is 25

# Looping statement

In [0]:
###While loop
#syntax


c=''
while True:
    c=input('> ')
    if c == 'start':
        print('strat')
    elif c == 'stop':
        print('stop')
    elif c == 'quit':
        break
    else:
        print('invalid key')

In [0]:
### for loop statement
print('range 1')
for i in range(5):
    print(i)
print('single aligration')
for i in range(0,10):
    print(i)

print('Double aligration')
for i in range(0,10,2):
    print(i)

print('List value') 
list1=[1,2,2,4,5]
for i in list1:
    print(i)
print('Furits')
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)


for x in range(6):
  print(x)
else:
  print("Finally finished!")

range 1
0
1
2
3
4
single aligration
0
1
2
3
4
5
6
7
8
9
Double aligration
0
2
4
6
8
List value
1
2
2
4
5
Furits
apple
cherry
0
1
2
3
4
5
Finally finished!

In [0]:
# string
# list 
# tuple
# dict
# set